<section class='project'>
	{{#each projects as |project|}}
		<div class='project-card' data-id='{{project.id}}' id='project'>
			<div class='links'>
				{{#if project.live_link}}
					<a
						href='{{project.live_link}}/'
						target='_blank'
						aria-label='Live Link to {{project.project_name}}'
					>
						<i class='fas fa-link' aria-hidden='true'>
						</i>
					</a>
				{{/if}}
				<a
					href='{{project.repo_link}}'
					target='_blank'
					aria-label='Go to {{project.repo_link}} Git Repository'
				>
					<i class='fab fa-github' aria-hidden='true'>
					</i>
				</a>
			</div>
			<h3 class='project-card-title'>
				{{project.project_name}}
			</h3>
			<div class='project-card-skill'>
				{{project.skill}}
			</div>
			<p class='project-card-description'>
				{{project.description}}
			</p>
		</div>
	{{/each}}
	{{#each projects as |project|}}
		<div class='project-image'>
			<a href='#project'>
				<img
					src='/assets/previews/{{project.image}}'
					alt='Preview screenshot of {{project.project_name}}'
				/>
			</a>
		</div>
	{{/each}}
</section>